
{{ define "title"}} Podara - Podcasts {{end}}

{{ define "main"}}
    {{ if not .User }}
        <script>
            window.location.href = "/login"
        </script>
    {{ else }}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ range .Podcasts }}
                <a href="/podcast/{{ .Id }}" class="block bg-white rounded-lg shadow-md p-4 hover:pointer">
                    <div class="flex items-start mb-4">
                        <img src="/static/{{ .CoverImageUrl }}" alt="{{ .Title }}" class="w-12 h-12 rounded-full mr-4">
                        <div>
                            <h2 class="text-xl font-semibold text-gray-700">{{ .Title }}</h2>
                            <p class="text-gray-500 text-sm">{{ .CreatedAt }}</p>
                        </div>
                    </div>
                    <p class="text-gray-700">{{ .Description }}</p>
                    <p class="text-gray-500 text-sm mt-2">Last Updated: {{ .UpdatedAt }}</p>
                </a>
            {{ end }}
        </div>
    {{ end }}
{{end}}

